%main
  .container
    .calc-input
      .btn.btn-clear.calc-btn-operand(data-operation="c") C
      .btn.btn-clear.calc-btn-operand(data-operation="+-") +/-
      .btn.btn-clear.calc-btn-operand(data-operation="%") %
      .btn.btn-clear.calc-btn-operand(data-operation="/") \/
      .btn.btn-clear.calc-btn-num(data-operation="7") 7
      .btn.btn-clear.calc-btn-num(data-operation="8") 8
      .btn.btn-clear.calc-btn-num(data-operation="9") 9
      .btn.btn-clear.calc-btn-operand(data-operation="x") x
      .btn.btn-clear.calc-btn-num(data-operation="4") 4
      .btn.btn-clear.calc-btn-num(data-operation="5") 5
      .btn.btn-clear.calc-btn-num(data-operation="6") 6
      .btn.btn-clear.calc-btn-operand(data-operation="-") \-
      .btn.btn-clear.calc-btn-num(data-operation="1") 1
      .btn.btn-clear.calc-btn-num(data-operation="2") 2
      .btn.btn-clear.calc-btn-num(data-operation="3") 3
      .btn.btn-clear.calc-btn-operand(data-operation="+") +

      .btn.btn-clear.calc-btn-num.double(data-operation="0") 0
      .btn.btn-clear.calc-btn-num(data-operation=".") .
      .btn.btn-clear.calc-btn-operand(data-operation="=") \=

