.calc {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.calc-btn {
  @extend .btn;
  @include btn-base(#fff);
  background-color: #fff;
  color: darken($medium, 15%) !important;
  outline: 1px solid rgba($dark, .3);
  line-height: 14.5vh;
  height: 14.5vh;
  float: left;
  width: 25%;
  &:hover {
    background-color: lighten($light, 22%);
    color: $dark !important;
  }
  &.double {
    width: 50%;
  }
  &.bottom-row {
    border-bottom: 1px solid rgba($dark, .3);
  }
}

.calc-output {
  height: 25vh;
}

.calc-operations {
  color: darken($medium, 20%);
  font-size: 6vh;
  height: 9vh;
  padding: 3vh 1vw;
}

.calc-result {
  font-size: 12.5vh;
  line-height: 1;
}

.calc-history {
  @extend .text-right;
  background-color: lighten($light, 10%);
  height: 100%;
  left: 0;
  max-height: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  padding: 2rem;
  top: 0;
  transition: all .35s;
  width: 100%;
  z-index: -1;
  &:empty + .calc-history-btn {
    display: none;
    z-index: -1;
  }
  &.active {
    opacity: 1;
    max-height: 1000rem;
    z-index: 5;
  }
  div {
    background-color: lighten($light, 10%);
    cursor: pointer;
    font-size: 8vh;
    line-height: 1.33;
    transition: all .25s;
    &:hover {
      background-color: lighten($light, 15%);
    }
  }
}


.calc-history-btn {
  @extend .text-center;
  color: darken($medium, 15%);
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
  line-height: 12.5vh;
  left: 0;
  position: absolute;
  width: 4rem;
  top: 0;
  transition: all .25s;
  z-index: 10;
  &:hover {
    color: $dark;
  }
  &.active {
    .closed {
      display: none;
    }
    .open {
      display: inline-block;
    }
  }
  .open {
    display: none;
  }
}


