!!!5
%html(lang="en")
  %head
    //=include partials/_head.haml

  %body.index
    //=include partials/_calc-output.haml

    //=include partials/_calc-input.haml

    //=include partials/_scripts.haml
